:root {
  /* Theme colors */
  --primary-color-start: #0370be;
  --primary-color-end: #00355b;
  --primary-color: linear-gradient(
    135deg,
    var(--primary-color-start) 0%,
    var(--primary-color-end) 100%
  );
  --primary-text-color: #ffffff;

  --secondary-color: #fff;
  --secondary-text-color: #374151;
  --secondary-border-color: #e5e7eb;
  --secondary-border-hover: #d1d5db;
  --secondary-bg-hover: #f9fafb;

  --highlight-color: #fcc337;

  /* Box shadow colors */
  --highlight-box-shadow-hover: rgba(252, 195, 55, 0.15);
  --highlight-box-shadow-selected: rgba(252, 195, 55, 0.2);
  --highlight-box-shadow-selected-deep: rgba(252, 195, 55, 0.3);
  --highlight-box-shadow-selected-hover: rgba(252, 195, 55, 0.4);
  --highlight-selected-bg-gradient: linear-gradient(135deg, #ffffff 0%, #fffbf0 100%);
}
